services:
  hytale-dev:
    profiles: ["dev"]
    image: eclipse-temurin:25-jre
    working_dir: /srv/hytale/Server
    volumes:
      - ../runtime:/srv/hytale
      - ../runtime/machine-id:/etc/machine-id:ro
    ports:
      - "5520:5520/udp"
    stdin_open: true
    tty: true
    restart: unless-stopped
    environment:
      HOME: /srv/hytale/.home
      XDG_CACHE_HOME: /srv/hytale/.cache
      XDG_CONFIG_HOME: /srv/hytale/.config
      XDG_DATA_HOME: /srv/hytale/.local/share

    command:
      - java
      - -Duser.home=/srv/hytale/.home
      - -Xms${JAVA_XMS:-2G}
      - -Xmx${JAVA_XMX:-4G}
      - -XX:AOTCache=HytaleServer.aot
      - -jar
      - HytaleServer.jar
      - --assets
      - /srv/hytale/Assets.zip
      - --disable-sentry
      - --bind
      - 0.0.0.0:${HYTALE_PORT:-5520}
